#mistakes {
    max-width: 80%;
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-bottom: 50px;
}
  
.song-name {
    font-weight: 400;
    font-size:1.3rem;
    text-align: left;
    display: inline;
    min-width: 80%;
    color: #766dca;
}
  
.mistake-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #fff;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
    color: #766dca;
}

.instruct  {
    text-align: center;
}

.instruct p {
    color: #766dca;
    font-size: 18px;
}

/* .repeat-button {
    margin-left: 20px;
    font-size: 14px;
    max-width: 140px;
    min-width: 140px;
    color: #766dca;
    border-color: #766dca;
} */

@media only screen and (max-width: 750px) {

    .song-name {
        font-weight: 400;
        font-size:1rem;
        text-align: left;
        display: inline;
        min-width: 35%;
    }

    .instruct p {
        font-size: 14px;
    }
}