/* PROGRESS RAINBOW BAR */

 #myProgress {
    position: relative;
    width: 100%;
    display: flex;
    height: 30px;
    background-color: rgb(249, 253, 13); 
   } 
  
  #myBar {
    position: absolute;
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
   
  }
 /* .bar-res{
    position: relative;
    display: flex;
    width: 560px;

  }  */

  /* #label {
    text-align: center;
    /* line-height: 30px; */
    /* color: white */
    
  /* } */ 
  