.cover-title{
      width: 100em;
      height: 9vh;
      /* background-color: #312c71;
       */
       background-color: black;
      margin: 0 auto;
      position: absolute;
    }
.yt-player {
        display:flex;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        
      
      } 
/* .yt-all {
    display:flex;
    margin-bottom: 15vh;
}          */