@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.forceGrayColor button {
	border:1.5px solid  rgb(0, 89, 255);
    color: rgb(0, 89, 255)!important;
}

.show {
    display: inline;
}

.show p {
    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 89, 255);
}

.show p:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.link {
    color: white;
    width: 150px;
    text-decoration: none;
    border: 1px solid white;
    display: flex; 
    text-align: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    opacity: .7;
}

.Countdown {
    max-width: 300px;
    width: 100%;
    margin: 30px auto 20px;
}

.QuestionAndAnswers  {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  no-repeat center center fixed;
    background-size:cover;
    margin:0
}

.list:hover {
    background: rgba(0,0,0,.7);
    opacity: .7;
}

.repeat-button {
    margin-left: 20px;
    font-size: 14px;
}

#counter {
    font-size: 30px;
    margin-bottom: 10vh;
}

.show h4 {
    font-size: 28px;
    margin-bottom: 0px;
}

/* Mistakes list css: */

#mistakes {
    max-width: 80%;
    width: 100%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-bottom: 50px;
  }
  
  .song-name {
    font-weight: 400;
    font-size:1.3rem;
    text-align: left;
    display: inline;
    min-width: 75%;
  }
  
  .mistake-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #fff;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
  }
  
  #outthedoor {
    margin-left: 80%;
  }
  
  .instruct  {
    text-align:center;
  }


/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {

    .Countdown {
        left:50%;
    }

    .show h4 {
        font-size: 26px;
    }

    #counter {
        font-size: 22px;
        margin-bottom: 10vh;
    }
}