@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.forceGrayColor button {
	border:1.5px solid  rgb(0, 89, 255);
    color: rgb(0, 89, 255) !important;
    background-color: transparent;
    box-shadow: none;
}

.forceGrayColor button:focus {
    box-shadow: 0px 0px 5px #FF003C, 0px 0px 25px #FF003C, 0px 0px 50px #FF003C, 0px 0px 100px #FF003C !important;
    border:1.5px solid  rgb(0, 89, 255) !important;
}

.show {
    display: inline;
}

.show p {
    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 89, 255);
}

.show p:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.link {
    color: white;
    width: 150px;
    text-decoration: none;
    border: 1px solid white;
    display: flex; 
    text-align: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    opacity: .7;
}

.Countdown {
    width: 100%;
    margin: 0px auto 20px;
}

.QuestionAndAnswers  {
    background: url(../../Pictures/background_img_left.png) left top no-repeat,url(../../Pictures/background_img_right.png) right top no-repeat #1a1b39;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7455357142857143) 0%, rgba(255,255,255,0) 100%);
}

.list:hover {
    background: rgba(0,0,0,.7);
    opacity: .7;
}

.repeat-button {
    margin-left: 20px;
    font-size: 14px;
    max-width: 140px;
    min-width: 140px;
}

#counter {
    font-size: 30px;
    margin-bottom: 10vh;
}

.show h4 {
    font-size: 24px;
    margin-bottom: 0px;
}

/* Mistakes list css: */

#mistakes {
    max-width: 80%;
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-bottom: 50px;
}
  
.song-name {
    font-weight: 400;
    font-size:1.3rem;
    text-align: left;
    display: inline;
    min-width: 80%;
}
  
.mistake-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    color: #fff;
    transition: all .3s ease-in-out;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
}
  
.instruct  {
    text-align: center;
}

.instruct p {
    color: white;
}


/* SOCIAL MEDIA BUTTONS */

#media-share-buttons {
    height: auto;
    width: auto;
    position: fixed;
    top: 0px;
    right: -50px;
    display: flex;
    transition: all .35s linear;
}

#media-share-buttons:hover {
    right: 0px;
}

#media-share-buttons:hover .arrow img {
    transform: rotate(180deg);
}

.share-buttons {
    display: flex;
    flex-direction: column;
}

.share-buttons button:focus {
    outline: none;
}

.arrow img {
    width: 50px;
    height: 50px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {

    .QuestionAndAnswers {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.7455357142857143) 0%, rgba(255,255,255,0) 100%);
    }

    .Countdown {
        left:50%;
    }

    .show h4 {
        font-size: 19px;
    }

    .show p {
        font-size: 19px;
    }

    #counter {
        font-size: 22px;
        margin-bottom: 14px;
    }

    .song-name {
        font-weight: 400;
        font-size:1rem;
        text-align: left;
        display: inline;
        min-width: 35%;
    }

    #st-1 .st-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
    transition: opacity 0.2s ease-in, top 0.2s ease-in;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    }

    .link {
        width: 70px;
        padding-left: 5px;
        font-size: 10px;
    }

    #mistakes {
        margin-top: 14px;
    }
}