
.yt-player {
  display:flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  height: 94vh;
  background-color: rgba(0, 0, 0, .7);
  /* pointer-events: none; */
}

.cover-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: rgba(0,0,0,.5); */
  border-top: 9vh solid black;
}

.confeti-countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
  /* width: 90%; */
  justify-content: center;
}

.youtube-game-over h3 {
  font-size: 2.75rem;
}

@media all and (max-width:30em) {

  .youtube-game-over h3 {
    font-size: 1.9rem;
  }
}

