/* a {
  color: #666;
  text-decoration: none;
}

  a:hover {
    color: #4FDA8C;
}  */

input {
    font: 16px/26px
}

/* body {
  color: #666;
  background-color: #f1f2f2;
  font: 16px/26px "Raleway", sans-serif;
} */

.form-wrap {
    background-color: #fff;
    width: 320px;
    margin: 3em auto;
    box-shadow: 0px 1px 8px #BEBEBE;
    -webkit-box-shadow: 0px 1px 8px #BEBEBE;
    -moz-box-shadow: 0px 1px 8px #BEBEBE;
}

.tabs {
    overflow: hidden;
}

.tabs h2 {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    background-color: #e6e7e8;
    display: block;
    color: #666;
    cursor: pointer;
    float: left;
    width: 50%;
}

.tabs h2 a.active {
    background-color: #fff;
}

.form-wrap .tabs-content {
    padding: 1.5em;
}

.form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
}

.form-wrap .tabs-content .active {
    display: block !important;
}

.form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color:  #666;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%;
}

.form-wrap form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: rgb(49, 44, 113);
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

/* .form-wrap form .button:hover {
  background-color: #4FDA8C;
} */

.form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em;
}

.form-wrap form .checkbox:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 16px;
    color : #666;
}

.form-wrap form label[for]:before {
    content: '';
    position: absolute;
    border: 1px solid #CFCFCF;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
}

.form-wrap form label[for]:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background-color: transparent;
    top: 4px;
    left: -10px;
    border: 3px solid rgb(49, 44, 113);
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* modal */
.navbar-btn {
    background-color: #766dca;
    border-color: #766dca;
    min-width: 30%;
    border-radius: .25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    padding: 10px 30px;
    font-weight: 600;
    border: none;
    /* margin-top: 6px; */
}


.navbar-btn:hover {
    background-color: rgb(49, 44, 113);
    border-color: rgb(49, 44, 113);
    border: none;
    outline: none!important;
}

.navbar-btn:focus {
    background-color: rgb(49, 44, 113);
    border-color: rgb(49, 44, 113);
    box-shadow: 0 0 0 0.2rem rgb(49, 44, 113);
}

.navbar-btn:active {
    background-color: rgb(49, 44, 113);
    border-color: rgb(49, 44, 113);
    box-shadow: 0 0 0 0.2rem rgb(49, 44, 113);
}

.navbar-enter-btn {
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    border: none;
    color: #766dca;
}


@media only screen and (max-width: 750px) {

    .navbar-btn {
        padding: 4px 10px;
        margin-top: 4px;
    }
}