/* Start game button */

#btn-game {
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration: none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:px 10px;
  font-weight:600;
  position:absolute;
  left: 50%;
  right: 50%;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4;
  font-size: 25px;
  letter-spacing: 9px;
  margin-top: 10vh;
}
  
#btn-game:hover {
  color: #fff;
  opacity:1;
}

/* #btn-div {
  display:block;
  margin:0 auto;

  margin-left: 40%;
  font-size: 40px;
  letter-spacing: 9px;
} */

@media only screen and (max-width: 750px) {
  #btn-game {
  margin: auto;
  }
}