/* Start game button */

#btn-game{

    
    clear:both;
    color:#fff;
    border:2px solid;
    border-radius:3px;
    text-align:center;
    text-decoration: none;
    display:block;
    font-family:sans-serif;
    font-size:14px;
    width:13em;
    padding:5px 10px;
    font-weight:600;
    position:absolute;
    bottom: 10%;
    left: 78%;
    right: 50%;
    background:rgba(0,0,0,0.2);
    box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
    opacity:0.4
  }#btn-game:hover{color:#fff;opacity:1}

  #btn-div {
    display:block;
    position:absolute;
    bottom: 10%;
    left: 78%;
    right: 50%;
    margin:0 auto;
  }

  @media only screen and (max-width: 750px) {
    #btn-game {
      left: 52%;
    }
  }