@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  no-repeat center center fixed;
  background-size:cover;
  margin:0
}
 
.main {
  display: block;
  position: absolute;
  top: 60%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 31vw;
  height: auto;
  font-family: "neontubes";
  font-size: 16vw;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

.main span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
          transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
}

.main .webdev {
  color: #FFD9E2;
  text-shadow: 0 0 0 transparent, 0 0 10px #FF003C, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #FF003C, 0 0 100px #FF003C, 0 0 200px #FF003C, 0 0 300px #FF003C, 0 0 500px #FF003C, 0 0 1000px #FF003C;
  -webkit-animation: blink 3s infinite alternate;
          animation: blink 3s infinite alternate;
}

.main .socod {
  padding-left: 260px;
  font-size: 11vw;
  color: #D4EAFF;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695FF, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695FF, 0 0 100px #2695FF, 0 0 200px #2695FF, 0 0 300px #2695FF, 0 0 500px #2695FF;
  -webkit-animation: buzz 0.01s infinite alternate;
          animation: buzz 0.01s infinite alternate;
}
 
@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
 
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    font-size: 150px;
  }
 
  .main .socod {
    font-size: 110px;
  }
}

/* changing words some-with */

.webdev span {
  animation: fadeEffect 6s linear infinite 2s;
  opacity: 0;
  position: absolute;
  display: inline;
}

.webdev span:nth-child(2) {
  animation-delay: 6s;
}

@keyframes fadeEffect {
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(0px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

@media only screen and (max-width: 750px) {
 .main {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: auto;
  font-family: "neontubes";
  font-size: 17vw;
  text-align: center;
  white-space: nowrap;
  width:800px; 
  margin:0 auto;
 }
 .main .socod {
   font-size: 70px;
 }
}

@media only screen and (max-width: 550px) {

  .main {
    position: fixed;
    top: 50%;
    float: left;
    left: 25%;
    transform: translate(-50%, -50%);
    height: auto;
    font-family: "neontubes";
    font-size: 16vw;
    text-align: center;
    white-space: nowrap;
    width: 800px;
    margin: 0 auto;
  }

  #btn-game {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .main .socod {
    padding-left: 25%;
  }
}