@font-face {
  font-family: 'neontubes';
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(135, 135, 189) url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) no-repeat center center fixed;
  background-size:cover;
  margin:0
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.main {
  font-family: "neontubes";
  padding: 80px 40px;
  text-align: center;
}

.playWith {
  font-size: 8vw;
  margin: 0;
  color: #D4EAFF;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695FF, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695FF, 0 0 100px #2695FF, 0 0 200px #2695FF, 0 0 300px #2695FF, 0 0 500px #2695FF;
  animation: buzz 0.01s infinite alternate;
}

.laPegatina {
  font-size: 12vw;
  margin: 0;
  color: #FFD9E2;
  text-shadow: 0 0 0 transparent, 0 0 10px #FF003C, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #FF003C, 0 0 100px #FF003C, 0 0 200px #FF003C, 0 0 300px #FF003C, 0 0 500px #FF003C, 0 0 1000px #FF003C;
  animation: fadeEffect 3s linear infinite;
  opacity: 1;
  margin-bottom: 110px;
}

/* Start game button */

.btn-game {
  color: #fff;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 2vw;
  padding: 10px 30px;
  font-weight: 600;
  background: rgba(0,0,0,0.2);
  box-shadow: 0 0 0px 3px rgba(0,0,0,0.2);
  opacity: 0.4;
  letter-spacing: 3px;
}

#btn-game:hover {
  color: #fff;
  opacity: 1;
}

/* #btn-div {
  display:block;
  margin:0 auto;

  margin-left: 40%;
  font-size: 40px;
  letter-spacing: 9px;
} */

@media only screen and (max-width: 750px) {
  #btn-game {
  margin: auto;
  font-size: 4vw;
  }

  .playWith {
    font-size: 13vw;
  }

  .laPegatina {
    font-size: 13vw;
  }
}


/* Not used for now */
/* .webdev span:nth-child(2) {
  animation-delay: 6s;
} */


/* Animation frames */
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@keyframes fadeEffect {
  0% { opacity: 1; }
  5% { opacity: 1; -ms-transform: translateY(0px); }
  10% { opacity: 0; -ms-transform: translateY(0px); }
  25% { opacity: 0; -ms-transform: translateY(0px); }
  30% { opacity: 1; -ms-transform: translateY(0px); }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

/* Not used now, could be applied to another
word of the title */
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}


/* Responsive */
@media screen and (min-width: 1000px) {

}

@media only screen and (max-width: 750px) {
  .main .socod {
    font-size: 70px;
  }
}

@media only screen and (max-width: 550px) {

}