.time-wrapper {
  position: relative;
  width: 80px;
  height: 60px;
}
 
.time-wrapper .time {
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all .2s;
}
 
.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%)
}
 
.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%)
}

.value {
  font-size: 36px;
}

  .displaynone {
    display: none;
  }

  .next-button {
    border: none;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
  }

  .timer .value {
    text-align:center;
  }

  #play-button {
      position: absolute;
      top: calc(40% - 25px);
      left: calc(50% - 50px);
      width: 100px;
      height: 100px;
      display: block;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: 0;
      user-select: none;
      background-color: rgba(0, 0, 0, 0.6);
      transition: background-color 0.5s ease;
  }
    #play-button:after {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 14px);
        display: block;
        content: '';
        box-sizing: border-box;
        border-color: transparent transparent transparent #fff;
        border-style: solid;
        border-width: 26px 0 26px 40px;
      }
      #play-button:hover {
        background-color: rgba(0, 33, 66, 0.9);
      }
    
  