
.titleColorYT{
    color:#f1c500;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    src: local('Barlow Regular'), local('Barlow-Regular'), url('https://fonts.googleapis.com/css?family=Barlow&display=swap') format('woff2');
}
.buttonYT {
    cursor: pointer;
    width: 60%;
    display: block !important;
    height: auto;
    margin: 5px auto;
    padding: 5px 15px;
    font-size: 20px;
    text-decoration: none;
    min-height: 5em;
    border-radius: 25px;
    /* margin-right: 20vh; */
    margin-top: 2vh
}

.buttonYT {
    background-color: transparent;
}

@media (max-width:700px) {
     .buttonYT.myButtonYT.buttonYT{
        margin: 0.4em auto;
    }
}

.buttonYT {
    flex: 25%;
}


.myButtonYT:hover {
    /* color: black!important; */
    background: transparent;
    box-shadow: 0px 0px 5px black, 0px 0px 25px black;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);  */
}

.myButtonYT:active {
    position:relative;
    /* color: red; */
    /* top:1px; */
    background: #312c71;
    /* box-shadow: 0px 0px 5px #FF003C, 0px 0px 25px #FF003C, 0px 0px 50px #FF003C, 0px 0px 100px #FF003C; */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);  */
}

.myButtonYT:focus {
    /* outline-color: white; */
    box-shadow: 0px 0px 5px black, 0px 0px 25p black;
}

@media all and (max-width:30em) {
    .myButtonYT {
        display:flex;
        margin:0.4em auto;
        flex: 25%;
        flex-basis: 39%;
        justify-content: center
    }

    .btn-4-YT{
        width: 65%;
        margin: 0 auto;
    }
    .titleColorYT{
        font-weight: 100;
}
}
.btn-4-YT{
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-wrap: wrap;
    margin-top:2em
    /* height: 25vh;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-bottom: 5vh; */
}
