.titleColorYT{
    color:white!important;
    /* font-family: 'Barlow'; */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    outline: none!important;
    font-size: 19px;
    /* src: local('Barlow Regular'), local('Barlow-Regular'), url('https://fonts.googleapis.com/css?family=Barlow&display=swap') format('woff2'); */
}

.myButtonYT .buttonYT .titleColorYT {
    font-size: 19px;
}

.buttonYT {
    cursor: pointer;
    display: block !important;
    display: flex;
    height: auto;
    width: 46%;
    margin: 5px 0;
    text-decoration: none;
    box-shadow: inset 0px 0px 15px 3px #9fb4f2;
    background: linear-gradient(to bottom, #302c71 5%, #2b2761 100%);
    background-color: #302c71;
    border: 1px solid #545180;
    color: #ffffff;
    text-shadow: 0px 1px 0px #283966;
    text-align: center;
    font-family: sans-serif;
    font-size: 19px;
    padding: 10px 30px;
    font-weight: 600;
    letter-spacing: 0px;
    align-items: center;
    height: 66px;
    border-radius: 30px;
}

.buttonYT:focus {
    outline: none!important;
}

.btn-4-YT{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1vh;
}


.myButtonYT:hover {
    transform: scale(1.05);
}

.myButtonYT:active {
    position:relative;
    /* color: red; */
    /* top:1px; */
    /* background: #312c71; */
    background: #302c71;
    /* box-shadow: 0px 0px 5px #FF003C, 0px 0px 25px #FF003C, 0px 0px 50px #FF003C, 0px 0px 100px #FF003C; */
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);  */
}

.buttons-yt-pregunta {
    width: 100%;
}

@media all and (max-width:30em) {
    .myButtonYT {
        display:flex;
        margin:0.4em auto;
        flex: 25%;
        flex-basis: 39%;
        justify-content: center
    }

    .btn-4-YT{
        width: 100%;
        margin: 0 auto;
    }
    .titleColorYT{
        font-weight: 500;
        color: white;
        font-size: .9rem;
        font-family: 'Teko', sans-serif;
    }

    .buttonYT.myButtonYT.buttonYT{
        margin: 0.4em ;
    }

    .buttonYT {
        padding: 5px 11px;
        height: auto;
        min-height: 8vh;
    }

    .buttons-yt-pregunta {
        width: 85%;
    }

}


