.progress-div {
  background-color: rgb(233, 233, 233);
  /* border-radius: .5rem; */
}

.progress {
  background-color: #4CAF50;
  height: 30px;
  /* border-radius: 1rem; */
  transition: 2s ease;
  transition-delay: 1s;
}

  /* #label {
    text-align: center;
    /* line-height: 30px; */
    /* color: white */
    
  /* } */ 
  