#showGame {

display: flex;
}

.title {

    color: white;
}

.showIt {

   /* display: flex; */
    position: absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: black; 
    color: white;
}

.hide {

    display: none;
}

#hideGame {

    display: none;
}