.peu_xarxessocials {
    text-align: center;
    margin-bottom: 10px;
    margin: 0;
    font-family: Barlow,sans-serif;
    line-height: 1.125em;
    color: #FFF;
    background-color: #1a1b39;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.social-icon {
    width: 32px; 
    height: 32px;
    margin: 0 5px 0 5px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (max-width: 768px) {
    .container_12 {
        width: 94.791666666667%;
        margin: 0 auto;
    }

    * {
        outline-style: none;
    }

    section {
        display: block;
    }
}


