.hideGame {

  display: none;
}

.showGame {
  display: block;
}

.social-media-follow-buttons {
  position: fixed;
  bottom: 0px;
  padding-bottom: 10px;
  background-color: rgb(49, 44, 113);
  width: 100%;
}

.social-media-follow-buttons li {
  display: inline;
}

.peu_xarxessocials {
  text-align: center;
  margin-bottom: 10px;
  margin: 0;
  font-family: Barlow,sans-serif;
  line-height: 1.125em;
  color: #FFF;
  font-size: 17px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.social-icon {
  width: 32px; 
  height: 32px;
  margin: 0 5px 0 5px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 32px;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(118, 109, 202);
}

.no-text-decoration {
  text-decoration: none;
  color: #766dca;
  text-decoration-line: underline;
}

.made-by {
  font-size: 11px;
  margin-bottom: 0px;
}

/* Language Dropdown */
/* Dropdown Button */
.dropbtn {
  background-color: rgb(49, 44, 113);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.language-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropbtn-content img {
  margin: 0 5px 0 5px;
}

/* Show the dropdown menu on hover */
.language-dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


@media only screen and (max-width: 750px) {
  .social-media-follow-buttons {
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding-bottom: 0px;
  }

  .social-media-follow-buttons p {
    font-size: 12px;
    margin: 0 0 0 0;
  }

  .social-icon {
    margin-top: 5px;
    height: 25px;
    width: 25px;
  }
}