@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

.map {
    
    display: flex;
    margin-top: 1%;
    margin-left: 24%;
    margin-right: 20%;
    
    
  }

  .forceGrayColor button {
	border:1.5px solid  rgb(0, 89, 255);
    color: rgb(0, 89, 255)!important;
}

.show {
    display: inline;
}

.show p {


    font-weight: 700;
    font-size: 25px;
    color: rgb(0, 89, 255);
}

.show p:hover {

    cursor: pointer;
}

.hide {
    display: none;
}

li {
    list-style: none;
}

.countdown {
    margin-top: 25px;
}

.instruct {
    position: absolute;
    
}

#youchoose{
    position: absolute;
    width: min-content;
    top: calc(20% - 25px);
    right: calc(80% - 40px);
    font-family: "neontubes";
    font-size: 50px;
    text-align: center;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 3s infinite alternate;
            animation: blink 3s infinite alternate;
}

.link {

    color: white;
    width: 150px;
    text-decoration: none;
    border: 1px solid white;
    display: flex; 
    text-align: center;
    padding-left: 20px;
    margin-left: 40%;
    position: fixed;
    bottom: 0;

    
}

.countdown {
    margin-top: 25px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    background: #121212;
    background: rgba(0,0,0,.7);
        opacity: .7;
}

.QuestionAndAnswers  {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  no-repeat center center fixed;
    background-size:cover;
    margin:0
}


#mis-title {
    justify-content: space-between;
    padding: 15px 15px;
}

#mistakes {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #121212;
}

.mistake {
    font-weight: 400;
    font-size: .8rem;
}

.list {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 14px 15px 5px;
        color: #fff;
        transition: all .3s ease-in-out;
}

.list:hover {
    background: rgba(0,0,0,.7);
    opacity: .7;
  }

  .repeat-button {
    margin-left: 30px;
}

.title {

    margin-left: 40%;

}

.map-title {
    font-family:sans-serif;
    text-align: center;
    font-size: 30px;
   
}

/* MEDIA QUERIES */

@media only screen and (max-width: 750px) {
    #youchoose {
        display:none;
    }
    .countdown {
        left:50%;
    }

    .map {
    
        position:absolute;
        height: calc(110vh - 50px);

      }
    
}