/*
#showGame {

display: flex;
}

.title {

    color: white;
}

.showIt {

    display: flex;
    position: absolute;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.hide {

    display: none;
}

#hideGame {

    display: none;
}

*/

.header {
    font-family: 'Teko', sans-serif;
}

/* JAIMES CSS */
.screenDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.screenDiv__firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allAlbumsDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blackBorder{
    width: 200px;
    margin: 20px;
    border: 3px solid black;
}

.buttonAlbum{
    border: none;
    transition: all .2s ease-in-out;
    padding: 0;
}

.buttonAlbum:hover {
    transform: scale(1.1);
}

.buttonAlbum:focus {
    transform: scale(1.1);
    outline: none;
}

.img_concert{
    width: 5em;
}

.suma-puntos-button {
    padding: 15px 39px;
    cursor: pointer;
    background-color: #a23488;
    font-weight: 700;
    border-radius: 56px;
    border: none;
    margin-top: 30px;
    text-decoration: none;
    box-shadow: inset 0px 0px 15px 3px #bb8fbe;
    background: linear-gradient(to bottom, #752d76 5%, #c835cf 100%);
    border: 1px solid #8e4c88;
    color: #ffffff;
    text-shadow: 0px 1px 0px #1a0d1a;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    padding: 10px 30px;
    font-weight: 600;
    letter-spacing: 0px;
    align-items: center;
    height: 60px;
    border-radius: 30px;
}

.suma-puntos-button:hover {
    transform: scale(1.05);
}

.round-first-question {
    font-size: 1.7rem;
    margin-bottom: 5vh;
}

.round-second-question {
    font-size: 1.7rem;
}

@media only screen and (max-width: 750px) {

    .round-first-question {
        font-size: 1.3rem;
        margin-bottom: 5vh;
    }

    .round-second-question {
        font-size: 1.3rem;
    }
}